body {
  display: grid; // added
  place-content: center; // added
  min-height: 100vh; // added
  background: {
    image: url("../images/bg-intro-desktop.png"); //modified
    size: cover; //added
  };
}

main {
  display: flex; // added
  justify-content: space-between; // added
  width: 82.5%; // modified
  margin: 0 auto; // modified
}

.intro {
  flex-basis: 45%; // added
  display: grid; // added
  place-content: center; // added 
  text-align: left; // modified
  margin-bottom: 0px; // modified
  &__title {
    font-size: 45px; // added 
    padding: 0 0 30px; // modified
    line-height: 1.1; // added
  }
  &__body { // added
    line-height: 1.6;
  }
}

.btn_form { // added
  flex-basis: 48%;
}

button {
  cursor: pointer; // added
}

form {
  padding: 40px; // modified
}

label {
  margin-bottom: 25px; // modified
}

input[type="submit"] {
  margin-bottom: 20px; // modified
  padding: 20px 0 12.5px; // modified
  &:hover { // added
    cursor: pointer;
    background-color: #77e2b4;
    box-shadow: 0 5px 0px #6dcca3;
  }
}
