@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: {
    family: "Poppins", sans-serif;
    size: 16px;
  }
  background: {
    image: url("../images/bg-intro-mobile.png");
    color: $red;
    repeat: no-repeat;
    attachment: fixed;
  };
}

main {
  width: 85%;
  margin: 50px auto;
}

.intro {
  color: $white;
  text-align: center;
  margin-bottom: 40px;
  &__title {
    padding: 15px;
  }
}

button {
  width: 100%;
  padding: 15px 20%;
  font-size: 17px;
  color: $grayish-blue;
  border: none;
  border-radius: 7.5px;
  background-color: $blue;
  line-height: 1.4;
  box-shadow: 0 7.5px 10px rgba(0,0,0,0.3);
  margin-bottom: 25px;
  span {
    font-weight: 700;
    color: $white;
  }
}

form {
  padding: 25px;
  background-color: $white;
  border-radius: 7.5px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

label {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  display: block;
  span {
    color: $red;
    display: block;
    font: {
      size: 12px;
      style: italic;
    }
    display: none;
    text-align: right;
    margin-top: 5px;
  }
  img {
    position: absolute;
    top: 17px;
    right: 20px;
    display: none;
  }
}
  
input {
  display: block;
  width: 100%;
  padding: 20px 15px;
  caret-color: $blue;
  color: #111;
  font: {
    weight: 600;
    size: 17px;
  }
  border: {
    width: 1px;
    style: solid;
    color: #dedede;
    radius: 5px;
  }
  &::placeholder {
    color: #6f6e72;
    font-weight: 600;
  }
  &:focus {
    outline: none;
    border-color: $blue;
  }
}

input[type="submit"] {
  color: $white;
  font-weight: 500;
  background-color: $green;
  margin-bottom: 10px;
  border: none;
  box-shadow: 0 5px 0px rgb(52, 189, 129);
  padding: 17.5px 0 12.5px;
}

.tc {
  width: 85%;
  margin: auto;
  text-align: center;
  color: #b8b7be;
  font: {
    size: 10px;
    weight: 700;
  }
  span {
    color: $red;
  }
}

@media screen and (min-width: 1280px) {
 @import "desktop";
}